/* General Styles */

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #5E5E5E;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
}

p {
  font-weight: 200;
  line-height: 1.5;
}

.main-container {
  max-width: 1020px;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
}

.square-image {
  max-width: 35%;
  padding: 1rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

span.bold {
  font-weight: 600;
  color: #000;
}

span.light {
  font-weight: 300;
  color: #908F8F;
}

nav a {
  color: grey;
  text-decoration: none;
  margin-right: 1rem;
}

/* Banner */

#banner {
  background-color: #E1E0E0;
  display: flex;
  align-items: center;
}

#banner .main-image {
  padding: 2rem 2.5rem 2rem 1.5rem;
}

#banner .text-box {
  padding-right: 11rem;
}

#banner p {
  margin: 2rem auto 2rem auto;
}
#banner span {
  display: block;
  color: white;
  background-color: #5E5E5E;
  padding: 0.5rem;
  text-align: center;
}


/* Top section just below banner */

#top {
  display: flex;
}

#top .main {
  display: flex;
  flex-direction: column;
}

#top .main-image {
  padding: 2rem 1.5rem 2rem 1.5rem;
}

#top .main p {
  padding-top: 1.5rem;
}

#top .main .text-box {
  margin: auto 1.5rem 3rem 1.5rem;
}

#top .side-bar {
  border-left: 1px solid #E1E0E0;
  padding-top: 1rem;
}

#top .side-bar-item {
  display: flex;
  align-items: center;
  width: 26.4375rem;
}

#top .side-bar-item:nth-child(1) {
  border-bottom: 1px solid #E1E0E0;
}

#top .side-bar-item:nth-child(3) {
  background-color: #E1E0E0;
}

/* Course Grid */

#course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0EFEF;
}

#course-container h2 {
  margin-top: 2rem;
}

.course-grid {
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0;
  }

.course {
  max-width: 30%;
  height: 18rem;
  margin: 1rem 1rem;
}

.course .text-box {
  background-color: white;
  height: 120px;
  padding: 1rem 1rem 1.5rem 1rem;
}

/* Bottom Section with video: Thesis Exhibit */

#bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

#bottom .container {
  display: flex;
  margin-top: 2rem;
}

#bottom .main {
  max-width: 65%;
  padding: 0 1rem 2rem 2rem;
}

#bottom video {
  max-width: 100%;
  border: 1px solid #E1E0E0;
}

#bottom .main .text-box {
  margin-top: 1.5rem;
}

#bottom .main p {
  margin-top: 1rem;
}

#bottom .side-bar-item {
  display: flex;
  align-items: center;
  width: 26.4375rem;

#bottom .side-bar-item:nth-child(1) {
  background-color: #E1E0E0;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  font-size: small;
  border-top: 1px solid #E1E0E0;
  padding: 1rem 0 3rem 0;
}

.copyright {
  margin-left: 2rem;
}

.footer-links span {
  padding-right: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: grey;
}
