/* General Styles */

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #5E5E5E;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

p {
  padding-top: 0.5rem;
}

.main-container {
  max-width: 1020px;
  margin: auto;
  border: 4px solid green;
}

.main-image {
  padding: 2rem 2.5rem 2rem 1.5rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.square-image {
  max-width: 35%;
  padding: 1rem;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.bold {
  font-weight: bold;
  color: black;
}

nav a {
  color: grey;
  text-decoration: none;
  margin-right: 1rem;
}

/* Banner */

#banner {
  background-color: #E1E0E0;
  display: flex;
}

#banner .text-box {
    width: 26.4375rem;
}

#banner .main {
  display: flex;
}

/* Top section just below banner */

#top {
  display: flex;
}

#top .main {
  display: flex;
  flex-direction: column;
}

#top .main p {
  padding-top: 1.5rem;
}

#top .text-box {
  margin: auto 2rem 4rem 2rem;
}

#top .side-bar {
  border-left: 0.5px solid #E1E0E0;
  padding-top: 1rem;
}

#top .side-bar-item {
  display: flex;
  align-items: center;
  width: 26.4375rem;
}

#top .side-bar-item:nth-child(1) {
  border-bottom: 0.5px solid #E1E0E0;
}

#top .side-bar-item:nth-child(3) {
  background-color: #E1E0E0;
}

/* Course Grid */

#course-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0EFEF;
}

#course-container h2 {
  margin-top: 2rem;
}

.course-grid {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem 0;
  border: 4px solid red;
  }

.course {
  max-width: 30%;
}

.course .text-box {
  background-color: white;
  padding: 1rem 1rem 1.5rem 1rem;
}

/* Bottom Section with video: Thesis Exhibit */

#bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

#bottom .container {
  display: flex;
  margin-top: 2rem;
}

#bottom .main {
  max-width: 65%;
}

#bottom video {
  max-width: 100%;
}

#bottom .side-bar-item {
  display: flex;
  align-items: center;
  width: 26.4375rem;


/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  font-size: small;
  border-top: 0.5px solid #E1E0E0;
  padding: 1rem 0 3rem 0;
}

.copyright {
  margin-left: 2rem;
}

.footer-links span {
  padding-right: 1rem;
}

.footer-links a {
  text-decoration: none;
  color: grey;
}
